{% extends 'layouts/layout.html' %}

{% block content %}

<body onload="github()">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/github.css') }}">

  <script type="text/javascript">
    function github() {
      $.getJSON("/githubjson/25", function(result) {
        $.each(result, function(i, field) {
          $.getJSON(field.actor.url, function(actor_result) {
            $.getJSON(field.repo.url, function(repo_result) {

              $(".feed").append(
              '<div class="card container-fluid border rounded-0">'+
                '<div class="row no-gutters">'+
                  '<div class="col avatar">' +
                      '<img id="github_avatar" src="'+field.actor.avatar_url+'" alt="...">'+
                    '</div>' +

                    '<div class="col-md-8">'+
                      '<div class="card-body">'+
                        '<h5>'+
                          '<a href="'+ actor_result.html_url +'">'+
                            '<span class="a-link" style="font-weight:bold; font-size:18px;">'+ field.actor.display_login+'</span>'+
                          '</a>' +
                          ' '+ field.type +' ' +
                          '<a href="' + repo_result.html_url +'">' +
                            '<span class="a-link" style="font-weight:bold; font-size:18px;">'+ field.repo.name+'</span>'+
                          '</a>'+
                        '</h5>' +
                        '<p class="card-text"><small class="text-muted">' +
                          field.created_at +
                        '</small></p>' +
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'
              );

            });
          });
        });
      });
    }
  </script>


  <div class="container">
    <div class="feed">

    </div>
  </div>
</body>

{% endblock %}
