/* -- Album Covers -- */


.album_image {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

#upload img {
  max-width: 250px;
}

.fader img:hover {
  opacity: 0.8;
}

.fader input {
  display: none;
}
/* -- Album Covers -- */

#gallery_image {
  width: 100%;
}

.gallery-card img:hover {
  cursor: pointer;
}
