html {
  position: relative;
  min-height: 100%;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.cursor-onhover:hover {
  cursor: pointer;
}

.a-link {
  color: #505653;
}

.a-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
