<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">

<footer class="footer">
  <div class="container">
    <span class="text-muted">Powered by</span>
    <a class="cursor-onhover" onclick="hide_redirect_newwindow('https://www.linode.com')" target="_blank">
      <img id="linode" src="https://www.linode.com/media/images/logos/standard/light/linode-logo_standard_light_medium.png">
    </a>
      <span class="text-muted">View Source Code</span>
      <a class="cursor-onhover" onclick="hide_redirect_newwindow('https://github.com/abalarin/PersonalSite')">
        <img id="github" src="https://image.flaticon.com/icons/png/512/25/25231.png" target="_blank">
      </a>
  </div>
</footer>
