<link rel="stylesheet" href="{{ url_for('static', filename='styles/github.css') }}">

<div class="container-fluid">

  {% for change in changelog %}
  <div class="row">

    <div class="card container-fluid border rounded-0">
      <div class="row no-gutters">
        <div class="col avatar">
          <img id="github_avatar" src="{{change.actor.avatar_url}}" alt="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5>
              <a onclick="hide_redirect('/')">
                <span class="a-link">{{change.actor.display_login}}</span>
              </a>
              acted on
              <a onclick="hide_redirect('/')">
                <span class="a-link">{{change.repo.name}}</span>
              </a>
            </h5>
            <p class="card-text"><small class="text-muted">Last updated {{date_convert(change.created_at)}}</small></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endfor %}

  <div class="text-center">
    <h4>
      <a onclick="hide_redirect('/changelog')">
        <span class="a-link">See More...</span>
      </a>
    </h4>
  </div>

</div>
