{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img class="profile" src="{{ url_for('static', filename='images/cover.png') }}" alt="">
    </div>
    <div class="col align-self-center text-center">
      <h1>Welcome!</h1>
      <br>
      <h2>This is my site</h2>
      <h4 class="text-muted">"I'd have to say my biggest accomplishment to date would have to be the stash..."</h4>
    </div>
  </div>
</div>

<hr>


<div class="my-bitmoji-stickerpicker-icon-target"></div>
<script>
  // Load the SDK asynchronously
  (function (d, s, id) {
    var js, sjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://sdk.snapkit.com/js/v1/login_bitmoji.js";
    sjs.parentNode.insertBefore(js, sjs);
  }(document, 'script', 'bitmojikit-sdk'));
</script>

<div class="container-fluid homepage">

  <span id="albums"></span>
  <h2 class="text-center">My Linode Object Storage Albums</h2>
  <br>
  {% include 'includes/_albums.html' %}

  <br>
  <div class="row justify-content-md-center">

    <div id="videosList">
      <div class="video">
        <video class="thevideo" onmouseover="this.play();this.muted = true" onmouseout="this.pause();">
          <source src="/static/media/video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

  </div>

  <hr>

  <span id="activity"></span>
  <h2 class="text-center">My Activity</h2>
  <br>
  <div class="row">
    <div class="col">
      <h3 class="text-center text-muted">Changelog</h3>
      <br>
      {% include 'includes/_github.html' %}
    </div>

    <div class="col">
      <h3 class="text-center text-muted">Música</h3>
      <br>
      {% include 'includes/_spotify.html' %}
    </div>

  </div>
  <br>

</div>

{% endblock %}
