{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img class="profile" src="{{ url_for('static', filename='images/cover.jpg') }}" alt="">
    </div>
    <div class="col align-self-center text-center">
      <h1>Welcome!</h1>
      <br>
      <h2>This is my site</h2>
      <h4 class="text-muted">"I'd have to say my biggest accomplishment to date would have to be the stash..."</h4>
    </div>
  </div>
</div>

<div class="container-fluid homepage">
  <br>
  <h2 class="text-center">Linodes Object Storage:</h2>
  {% include 'includes/_albums.html' %}

</div>

{% endblock %}
